<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_area_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,430}</string>
                <key>spriteSourceSize</key>
                <string>{280,430}</string>
                <key>textureRect</key>
                <string>{{613,582},{280,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_area_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,430}</string>
                <key>spriteSourceSize</key>
                <string>{280,430}</string>
                <key>textureRect</key>
                <string>{{333,582},{280,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_room_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,194}</string>
                <key>spriteSourceSize</key>
                <string>{333,194}</string>
                <key>textureRect</key>
                <string>{{333,388},{333,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_room_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,194}</string>
                <key>spriteSourceSize</key>
                <string>{333,194}</string>
                <key>textureRect</key>
                <string>{{0,388},{333,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_room_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,194}</string>
                <key>spriteSourceSize</key>
                <string>{333,194}</string>
                <key>textureRect</key>
                <string>{{0,582},{333,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_room_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,194}</string>
                <key>spriteSourceSize</key>
                <string>{333,194}</string>
                <key>textureRect</key>
                <string>{{333,194},{333,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_room_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,194}</string>
                <key>spriteSourceSize</key>
                <string>{332,194}</string>
                <key>textureRect</key>
                <string>{{332,0},{332,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_room_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,194}</string>
                <key>spriteSourceSize</key>
                <string>{333,194}</string>
                <key>textureRect</key>
                <string>{{0,194},{333,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_room_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,194}</string>
                <key>spriteSourceSize</key>
                <string>{332,194}</string>
                <key>textureRect</key>
                <string>{{0,0},{332,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_room_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,194}</string>
                <key>spriteSourceSize</key>
                <string>{332,194}</string>
                <key>textureRect</key>
                <string>{{664,0},{332,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>roomicon.png</string>
            <key>size</key>
            <string>{996,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ae3df8c3e7125ebd96eeca82fe43063:3c92afd327fef61970e8df3eadfd6292:7822864060c4e833ea2bda33bb73c2b0$</string>
            <key>textureFileName</key>
            <string>roomicon.png</string>
        </dict>
    </dict>
</plist>
